<!-- templates/pages/product_detail_public.html -->
{% extends '_base.html' %}
{% load static %}

{% block title %}{{product.name}} {{product.category_name_singular}} Details{% endblock title %}

{% block content %}
<div class="container">
    <div class="row pb-2">
        <div class="col-12 py-2">
            <h1>{{product.name}} {{product.category_name_singular}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <!-- carousel start -->
            <div id="carouselInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  {% for photo in product.productimage_set.all %}
                  <div class="carousel-item active ratio ratio-16x9" data-bs-interval="10000">
                    <img src="{{photo.images.url}}" class="rounded" alt="{{product.name}}">
                  </div>
                  {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselInterval"
                data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselInterval"
                data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!-- carousel end -->
        </div>
    </div>

    <div class="row pt-2">
        <p>{{product.get_all_product_related_tags}}</p>
        <hr>
        <h4 class="fw-semibold">Price:</h4>
        <p>{{product.display_product_price}}</p>
        <h4 class="fw-semibold">Pros:</h4>
        <p>{{product.pros_description}}</p>
        <h4 class="fw-semibold">Cons:</h4>
        <p>{{product.cons_description}}</p>
        <a href="#" class="card-link pb-2">
            <div class="d-grid gap-2">
              <button class="btn btn-primary">Request Quote</button>
            </div>
        </a>
        <hr>
    </div>

    <div class="row">
        <p>{{product.description|linebreaks}}</p>
    </div>
    <div class="row">
        <hr>
        <p>!!NOTE: This part will only be visible to staff!!</p>
        <h4 class="fw-semibold">Product Notes:</h4>
        <p>{{product.notes|linebreaks}}</p>
    </div>
</div>
{% endblock content %}